* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', sans-serif;
    background-color: #5270de;
    line-height: 1.6;
}

html{
    scroll-behavior: smooth;
}
